# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
  paths:
    include:
      - spring-boot-data-jpa-mysql/src/*
      - $(application)/*

stages:

  - stage: 'Build'
    jobs:
      - job: CheckChanges
        displayName: 'Check Changes'
        steps:
          - bash: |
              PATH_FILTER="spring-boot-data-jpa-mysql/src/"
              CHANGED_FILES=$(git diff HEAD HEAD~ --name-only)
              MATCH_COUNT=0

              echo "Checking for file changes..."
              for FILE in $CHANGED_FILES
              do
                if [[ $FILE == *$PATH_FILTER* ]]; then
                  echo "MATCH:  ${FILE} changed"
                  MATCH_FOUND=true
                  MATCH_COUNT=$(($MATCH_COUNT+1))
                else
                  echo "IGNORE: ${FILE} changed"
                fi
              done

              echo "$MATCH_COUNT match(es) for filter '$PATH_FILTER' found."
              if [[ $MATCH_COUNT -gt 0 ]]; then
                echo "##vso[task.setvariable variable=SOURCE_CODE_CHANGED;isOutput=true]true"
              else
                echo "##vso[task.setvariable variable=SOURCE_CODE_CHANGED;isOutput=true]false"
              fi
            name: check_changes
            displayName: 'Check source code changed files'

      - job: Build_Application_Image       
        condition: eq(dependencies.CheckChanges.outputs['check_changes.SOURCE_CODE_CHANGED'], 'true')
        displayName: 'Build application image'    
        dependsOn: CheckChanges # <- Important: Mark previous job as dependency        
        steps:
          - task: Maven@3
            inputs:
              mavenPomFile: 'spring-boot-data-jpa-mysql/pom.xml'
              publishJUnitResults: true
              goals: 'clean package'
              testResultsFiles: '**/surefire-reports/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              mavenVersionOption: 'Default'
              mavenAuthenticateFeed: false
              effectivePomSkip: false
              sonarQubeRunAnalysis: false
              
          - task: Docker@2
            inputs:
              containerRegistry: 'pokackacr01'
              repository: 'pocaksacr01/poc-aks'
              command: 'buildAndPush'
              Dockerfile: 'spring-boot-data-jpa-mysql/Dockerfile'

 # ---- DEPLOY STAGE
  - stage: deploymentPublication
    displayName: publish deployment
    jobs:
      - job: Publish
        displayName: Publish
        steps:
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.Repository.LocalPath)/deploy/helm/poc-aks'
              ArtifactName: '$(Build.BuildNumber)/deploy'
              publishLocation: 'Container'