apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "poc-aks.fullname.frontend" . }}-deploy
  labels:
    app: {{- include "poc-aks.labels.frontend" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "poc-aks.labels.frontend" . | nindent 6 }}
  strategy:
    type: {{ .Values.strategy }}
  template:
    metadata:
      labels:
        {{- include "poc-aks.selectorLabels.frontend" . | nindent 8 }}
    spec:
      imagePullSecrets:
      - name: {{ .Values.registrySecret }}
      containers:
      - image: {{ .Values.image.frontend.repository }}:{{ .Values.image.frontend.tag }}
        name: {{ include "poc-aks.name.frontend" . }}
        env:
        - name: {{ .Values.mysql.config.url.env }}
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.mysql.config.name }}
              key: {{ .Values.mysql.config.url.key }}
        - name: {{ .Values.mysql.config.port.env }}        
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.mysql.config.name }}
              key: {{ .Values.mysql.config.port.key }}
        - name: {{ .Values.mysql.config.database.env }}
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.mysql.config.name }}
              key: {{ .Values.mysql.config.database.key }}
        - name: {{ .Values.mysql.secret.userLogin.env.frontend }}
          valueFrom:
            secretKeyRef:
              name: {{ .Values.mysql.secret.name }}
              key: {{ .Values.mysql.secret.userLogin.key }}
        - name: {{ .Values.mysql.secret.userPassword.env.frontend }}
          valueFrom:
            secretKeyRef:
              name: {{ .Values.mysql.secret.name }}
              key: {{ .Values.mysql.secret.userPassword.key }}
        ports:
        - containerPort: {{ .Values.service.frontend.port }}
          name: {{ include "poc-aks.name.frontend" . }}
        volumeMounts:
          {{- toYaml .Values.volume.frontend | nindent 10 }}
      volumes:
      - name: {{ .Values.volume.frontend.name }}
        persistentVolumeClaim:
          claimName: {{ include "poc-aks.fullname.frontend" . }}-pvc
      