apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "poc-aks.fullname.frontend" . }}-cm
  namespace: {{ .Values.namespace }}
data:
  host: {{ include "poc-aks.fullname.db" . }}-service
  port: {{ .Values.service.db.port }}
  db_name: {{ .Values.mysql.database_name }}
